<!DOCTYPE htm>
<html>
<head></head>
<body>
    <h2>Edit your recipe below</h2>
    <form action="/recipes/<%= @recipe.id%>" method="POST">
    <input type="hidden" name="_method" id="hidden" value="PATCH">
    <label for="name">Name:</label>
    <input type="text" name="name" value=<%=@recipe.name%>>
    <br>
   <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" value=<%= @recipe.ingredients%>>
    <br>
    <label for="Cook Time">Cook Time:</label>
    <input type="text" name="cook_time" value= <%= @recipe.cook_time%>>
    <br>
    <input type="submit" id="Submit">
    </form>
</body>



</html>